@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Header Glassmorphism effect */
  .header-glassmorphism {
    backdrop-filter: blur(25px) saturate(151%);
    -webkit-backdrop-filter: blur(25px) saturate(151%);
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .header-glassmorphism.dark {
    backdrop-filter: blur(21px) saturate(200%);
    -webkit-backdrop-filter: blur(22px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  /* Scroll down */
  .arrows {
    width: 60px;
    height: 72px;
  }

  .arrows path {
    stroke: #212121;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0
    }

    40% {
      opacity: 1
    }

    80% {
      opacity: 0
    }

    100% {
      opacity: 0
    }
  }

  @-webkit-keyframes arrow

  /*Safari and Chrome*/
    {
    0% {
      opacity: 0
    }

    40% {
      opacity: 1
    }

    80% {
      opacity: 0
    }

    100% {
      opacity: 0
    }
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
  }

  /* Button effect */
  .button-blog-effect {
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #212121 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid #000;
    color: #000;
    padding: 5px 10px;
    font-weight: 500;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .button-blog-effect:hover {
    background-position: left bottom;
    color: #f1f1f1;
  }
}